.heading-36px-medium,
.heading-36px-semibold,
.heading-24px-regular,
.heading-24px-semibold,
.heading-20px-regular {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.heading-36px-medium,
.heading-36px-semibold {
  font-size: 36px;
  letter-spacing: 0.04em;
}

.heading-36px-medium {
  font-weight: 500;
  line-height: 30px;
}

.heading-36px-semibold {
  font-weight: 600;
  line-height: 48px;
}

.heading-24px-regular,
.heading-24px-semibold {
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.heading-24px-regular {
  font-weight: 400;
}

.heading-24px-semibold {
  font-weight: 600;
}

.heading-20px-regular {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 20px;
}

.title-20px-medium,
.title-20px-semibold,
.title-16px-regular,
.title-16px-medium,
.title-16px-semibold,
.title-14px-regular,
.title-14px-semibold,
.title-12px-regular,
.title-12px-medium {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.title-20px-medium
.title-20px-semibold {
  font-size: 20px;
  line-height: 28px;
}

.title-20px-medium {
  font-weight: 500;
}

.title-20px-semibold {
  font-weight: 600;
}

.title-16px-regular,
.title-16px-medium,
.title-16px-semibold {
  font-size: 16px;
}

.title-16px-regular {
  font-weight: 400;
  line-height: 24px;
}

.title-16px-medium {
  font-weight: 500;
  line-height: 24px;
}

.title-16px-semibold {
  font-weight: 600;
  line-height: 20px;
}

.title-14px-regular,
.title-14px-semibold {
  font-size: 14px;
  line-height: 21px;
}

.title-14px-regular {
  font-weight: 400;
}

.title-14px-semibold {
  font-weight: 600;
}

.title-12px-regular,
.title-12px-medium {
  font-size: 12px;
  line-height: 18px;
}

.title-12px-regular {
  font-weight: 400;
}

.title-12px-medium {
  font-weight: 500;
}
